In [23]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from numpy.random import multivariate_normal,permutation
import pandas as pd
from pandas import DataFrame,Series
from matplotlib.font_manager import FontProperties
from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets("/tmp/data", one_hot=False)

# fp = FontProperties(fname=r'C:\WINDOWS\Fonts\YuGothic.ttc', size=14)
fp = FontProperties(fname=r'/system/library/fonts/ヒラギノ角ゴシック W0.ttc', size = 14)

Extracting /tmp/data/train-images-idx3-ubyte.gz
Extracting /tmp/data/train-labels-idx1-ubyte.gz
Extracting /tmp/data/t10k-images-idx3-ubyte.gz
Extracting /tmp/data/t10k-labels-idx1-ubyte.gz

In [24]:
%config IPCompleter.greedy=True
%matplotlib inline
%matplotlib notebook

In [64]:
np.random.seed(20160512)
i=0
n1, mu1,variance1 = np.sum(mnist.train.labels == 2),[10,11],20
for i in range(55000):
    if(mnist.train.labels[i] == 2):
        data1 = mnist.train.images[i]
        df1 = DataFrame(data1,)
    i+=1
df1['t'] = 1
n0, mu0,variance0 = np.sum(mnist.train.labels != 2),[10,11],20

i=0
for i in range(55000):
    if(mnist.train.labels[i] != 2):
        data0 = mnist.train.images[i]
    i+=1
df0 = DataFrame(data0,columns=['x1'])
df0['t'] = 0



df = pd.concat([df0,df1],ignore_index=True)

num_data = np.sum(mnist.train.labels == 2)
train_set =df[:num_data]
test_set =df[num_data:]

In [65]:
train_set

       x1  t    0
0     0.0  0  NaN
1     0.0  0  NaN
2     0.0  0  NaN
3     0.0  0  NaN
4     0.0  0  NaN
5     0.0  0  NaN
6     0.0  0  NaN
7     0.0  0  NaN
8     0.0  0  NaN
9     0.0  0  NaN
10    0.0  0  NaN
11    0.0  0  NaN
12    0.0  0  NaN
13    0.0  0  NaN
14    0.0  0  NaN
15    0.0  0  NaN
16    0.0  0  NaN
17    0.0  0  NaN
18    0.0  0  NaN
19    0.0  0  NaN
20    0.0  0  NaN
21    0.0  0  NaN
22    0.0  0  NaN
23    0.0  0  NaN
24    0.0  0  NaN
25    0.0  0  NaN
26    0.0  0  NaN
27    0.0  0  NaN
28    0.0  0  NaN
29    0.0  0  NaN
...   ... ..  ...
1538  NaN  1  0.0
1539  NaN  1  0.0
1540  NaN  1  0.0
1541  NaN  1  0.0
1542  NaN  1  0.0
1543  NaN  1  0.0
1544  NaN  1  0.0
1545  NaN  1  0.0
1546  NaN  1  0.0
1547  NaN  1  0.0
1548  NaN  1  0.0
1549  NaN  1  0.0
1550  NaN  1  0.0
1551  NaN  1  0.0
1552  NaN  1  0.0
1553  NaN  1  0.0
1554  NaN  1  0.0
1555  NaN  1  0.0
1556  NaN  1  0.0
1557  NaN  1  0.0
1558  NaN  1  0.0
1559  NaN  1  0.0
1560  NaN  1  0.0
1561  NaN  1  0.0
1562  NaN  1  0.0
1563  NaN  1  0.0
1564  NaN  1  0.0
1565  NaN  1  0.0
1566  NaN  1  0.0
1567  NaN  1  0.0

[1568 rows x 3 columns]

In [52]:
train_labels = train_labels.reshape(-1,1)

In [6]:
train_labels

array([[7.],
       [3.],
       [4.],
       ...,
       [5.],
       [6.],
       [8.]])

In [7]:
df = pd.concat([df0,df1],ignore_index=True)

In [8]:
#

In [18]:
x = tf.placeholder(tf.float32,[None,784])
w = tf.Variable(tf.zeros([784,1]))
w0 = tf.Variable(tf.zeros([1]))
f = tf.matmul(x,w)+w0
p = tf.sigmoid(f)
t = tf.placeholder(tf.float32,[None,1])

In [19]:
loss = -tf.reduce_sum(t*tf.log(p) + (1-t)*tf.log(1-p))
train_step = tf.train.AdamOptimizer().minimize(loss)
correct_prediction = tf.equal(tf.sign(p-0.5),tf.sign(t-0.5))

In [20]:
accuacy = tf.reduce_mean(tf.cast(correct_prediction,tf.float32)) 
sess = tf.Session()
sess.run(tf.global_variables_initializer())

In [21]:
i = 0
for _ in range(1000):
    i += 1
    batch_xs, batch_ts = mnist.train.next_batch(100)
    sess.run(train_step, feed_dict={x:train_set, t:train_labels})
    if i % 200 == 0:
        loss_val, acc_val = sess.run(
            [loss,accuacy], feed_dict={x:train_set, t:train_labels})
        print ('Step:%d, Loss:%f , Accuacy:%f' % (i, loss_val, acc_val))

Step:200, Loss:nan , Accuacy:0.000000
Step:400, Loss:nan , Accuacy:0.000000
Step:600, Loss:nan , Accuacy:0.000000
Step:800, Loss:nan , Accuacy:0.000000
Step:1000, Loss:nan , Accuacy:0.000000

In [ ]:
w0_val, w_val= sess.run([w0,w])
w0_val, w1_val, w2_val = w0_val[0], w_val[0][0], w_val[1][0]
print (w0_val, w1_val, w2_val)

In [ ]:
test_set0 = test_set[test_set['t']==0]
test_set1 = test_set[test_set['t']==1]


fig = plt.figure(figsize=(6,6))

subplot = fig.add_subplot(1,1,1)
subplot.set_ylim([0,35])
subplot.set_xlim([0,35])
subplot.scatter(test_set1.x1, test_set1.x2, marker='x', label = "t=1 感染{}".format(len(test_set1)))
subplot.scatter(test_set0.x1, test_set0.x2, marker='o', label = "t=0 感染{}".format(len(test_set0)))
plt.suptitle(u'ロジスティック回帰による二項分類器',fontproperties=fp)
plt.title(u'テストセット{}点'.format(len(test_set)),fontproperties=fp)
plt.xlabel(u'X1')
plt.ylabel(u'X2')
plt.legend(prop=fp, loc='lower right')

linex = np.linspace(0, 35, 10)
liney = - (w1_val*linex/w2_val+w0_val/w2_val)
subplot.plot(linex,liney)

field = [[(1/(1+np.exp(-(w0_val+w1_val*x1+w2_val*x2))))#スターとプラス注意
          for x1 in np.linspace(0,35,100)]
         for x2 in np.linspace(0,35,100)]
subplot.imshow(field, origin = 'lower', extent=(0,35,0,35), 
               cmap= plt.cm.gray_r, alpha=0.5)